---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CAP</title>
  </head>
  <body>
    <Header />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores fugit
      temporibus ipsam id vel, sint sequi similique ullam provident odio
      repellendus ad facere quia omnis dolorem ipsum assumenda harum,
      perferendis eligendi nisi. Provident fugiat omnis itaque minus incidunt
      rem adipisci voluptate recusandae. Consequatur quasi ut tempore! Quaerat
      aliquid laboriosam necessitatibus totam ut, repellat ea fugiat assumenda
      eos porro culpa molestias architecto tempore nam autem saepe excepturi
      incidunt deleniti, magni quidem voluptatem sit vitae. Necessitatibus cum
      deserunt facere distinctio magni iste tenetur, unde illo, totam, ab
      possimus itaque ipsam tempora aliquam repellendus rem veniam perspiciatis
      nemo laboriosam optio dolore et! Quia rem eius mollitia? Ex possimus
      deleniti iste soluta reprehenderit? Nesciunt neque modi labore, deserunt
      ipsum veniam delectus facilis quam odio sit aliquam odit reiciendis
      cumque? Id, quidem inventore dolorum dolore excepturi natus corrupti,
      asperiores commodi incidunt suscipit dolor impedit unde aperiam maiores
      est mollitia expedita! Aliquam possimus incidunt aliquid error quia, id
      similique dolorum vitae, aut, pariatur commodi. Voluptatum enim architecto
      incidunt neque natus nostrum suscipit iste! Facilis cumque nobis harum
      laboriosam ut reiciendis aliquam non? Neque non consequatur officiis
      explicabo, quaerat quas ut modi sunt culpa, reprehenderit quia, tempore
      aliquid tenetur facilis deserunt adipisci quam. Labore impedit expedita
      eum, eaque error eius distinctio ipsa praesentium repellat minima dolores
      ea fugit id quae quos deserunt perferendis aperiam maxime aut molestiae
      ratione mollitia doloribus temporibus quidem. Cumque corrupti sequi
      excepturi quam facilis eaque nemo eum nihil vero animi soluta quod,
      adipisci ad officiis quos, rerum mollitia ea nisi accusamus optio. Aliquid
      voluptate repellat earum voluptatem molestiae facilis unde, harum officia
      sed quibusdam modi labore tenetur, perferendis ratione, aspernatur
      sapiente illum totam nihil illo ex. Unde repudiandae doloremque, natus
      iusto ipsa eos libero ratione nihil ullam. Fugit quaerat natus quod saepe
      asperiores odio, harum laudantium, quos debitis quasi, quae quidem aperiam
      est expedita quia. Dolorem similique tempore, ratione beatae quam unde
      asperiores fugiat porro deserunt labore impedit eos cum suscipit adipisci
      illo ipsa molestiae neque delectus corporis accusantium dolore? Laudantium
      totam ab beatae impedit minima! Earum corrupti illum veritatis debitis,
      consequatur expedita sint delectus numquam unde modi cumque fugiat dolore
      voluptate, quod alias eaque. Rem nemo, voluptate a tenetur, provident
      temporibus ipsam quam necessitatibus enim dolorum odit eius culpa, itaque
      nulla corrupti ad officiis. Laborum quibusdam maxime nulla, ab nostrum
      repudiandae doloribus nobis magni vero natus similique perferendis dolores
      numquam ullam cumque sed, aliquid incidunt magnam. Recusandae alias iste
      minus. Dolorum excepturi eveniet nemo, vitae quam reiciendis aut
      dignissimos ab non nesciunt atque ullam voluptate? Modi at ab explicabo
      error illo, aspernatur totam fugit libero ullam! Adipisci tempora, quae
      laudantium fugiat repudiandae pariatur delectus, nulla voluptate odio
      doloribus consectetur aliquid beatae blanditiis aut at magni, ipsam quia
      voluptates. Voluptatum quo cupiditate harum aspernatur quam nemo error
      commodi nam ullam. Quaerat quibusdam voluptatibus possimus dolor ab
      architecto, ea facere nulla similique molestias odit, magnam aut vel eos
      sequi inventore placeat accusamus ipsum quia in. Nisi dolorem maiores
      rerum dolor eligendi fugiat aspernatur sed qui aperiam hic voluptate
      dolorum possimus sequi, iusto illum quia eius blanditiis? Ut sint aliquam
      non, doloremque expedita inventore quis unde eveniet reprehenderit? Vel
      tenetur ipsa dolores explicabo culpa neque ab rem? Voluptate quam nihil
      atque, laboriosam harum labore officia praesentium veritatis voluptatem
      odit molestias culpa pariatur mollitia. Ex cum sequi atque distinctio odio
      reiciendis voluptate, illum sunt non ducimus aspernatur neque officiis
      numquam quibusdam nesciunt, suscipit voluptatum? Deserunt doloribus earum
      quos itaque ratione! Saepe doloribus assumenda expedita odio sequi et
      voluptatibus praesentium est? Incidunt obcaecati quos provident quae
      cupiditate ut dolorum iusto optio esse qui consectetur itaque soluta, enim
      quisquam eum consequatur non, laboriosam harum ex repellendus
      reprehenderit. Fugit quasi quae, nisi enim nihil ad architecto dignissimos
      aliquam sed pariatur natus autem explicabo mollitia maxime cum impedit
      praesentium maiores amet est aspernatur! Nulla quisquam sequi voluptatem
      enim aliquam adipisci modi explicabo eos ratione veritatis minus qui,
      omnis deserunt cumque, tempora quaerat aspernatur cupiditate iste quam.
      Molestias dicta inventore minima dolorum natus maiores delectus odit enim
      sapiente iure perferendis est culpa officiis praesentium facere
      consequatur nulla, labore fugit libero non quasi, quo error ad.
      Reprehenderit repellat repellendus voluptates. Alias quos id consequuntur
      modi odio facilis debitis ratione provident. Veniam deserunt ea
      praesentium, maxime dolorem temporibus atque earum porro sapiente aut
      necessitatibus commodi distinctio maiores? Reiciendis dolorum saepe sed
      magni, unde voluptatibus eaque recusandae similique laudantium veritatis
      commodi omnis vitae dolorem hic nemo, obcaecati sequi incidunt ipsa
      voluptate voluptas. Amet laboriosam rerum delectus natus sed ut aliquam
      ipsum minus dignissimos autem veniam aperiam quasi, consectetur architecto
      eaque eos eveniet provident? Voluptates omnis dolores beatae porro
      repudiandae veritatis quas in reiciendis fugit eaque consequuntur
      consectetur aspernatur dolore nostrum voluptatibus, quaerat iste dicta
      aliquam? Omnis, animi consequuntur eveniet repellendus ipsum enim ratione
      dolorem sequi rerum incidunt nisi quia dolor reiciendis nemo modi.
      Quibusdam recusandae odio unde ullam minus doloribus dolorum molestiae,
      aliquid sunt sapiente illo, sit ea libero nihil? Esse aut neque sed nisi
      illo dolorem sequi officia doloremque beatae, quidem quo saepe blanditiis
      similique maxime facilis repellat labore quam nostrum cum. Quidem
      dignissimos numquam, beatae distinctio qui iste repellat, velit veritatis
      omnis provident illo eligendi ea quos. Aspernatur perferendis consequuntur
      optio, minima nam molestias harum aperiam, quaerat eaque debitis non
      asperiores nesciunt assumenda. Deleniti culpa et cupiditate. Culpa
      voluptate quia veritatis asperiores fugit autem, accusamus hic cumque
      iusto itaque aspernatur. Blanditiis quas explicabo sed natus temporibus
      voluptas molestiae. Deleniti ad delectus sint ipsam quam harum, quae,
      magnam optio vitae eum fugit odit numquam exercitationem necessitatibus
      molestiae sit quisquam rerum obcaecati recusandae maxime aperiam a,
      deserunt debitis iste! Assumenda natus provident accusantium consectetur
      excepturi. Tempora commodi excepturi at. Dolorum culpa sunt expedita,
      repellat ipsam at molestias nihil odio quis unde totam iure, eius suscipit
      dicta harum esse consequuntur omnis accusamus asperiores quae. Voluptas
      enim sint corporis maiores illo reprehenderit corrupti quas numquam!
      Cumque quisquam totam commodi ipsam similique tenetur aspernatur hic iste
      praesentium aliquam! Illum saepe eveniet, veniam aperiam sint natus,
      asperiores, excepturi aliquam perferendis non nobis quae? Quisquam sequi
      explicabo quasi consequatur mollitia doloribus, itaque cumque dignissimos,
      illo nesciunt accusantium eveniet natus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores fugit
      temporibus ipsam id vel, sint sequi similique ullam provident odio
      repellendus ad facere quia omnis dolorem ipsum assumenda harum,
      perferendis eligendi nisi. Provident fugiat omnis itaque minus incidunt
      rem adipisci voluptate recusandae. Consequatur quasi ut tempore! Quaerat
      aliquid laboriosam necessitatibus totam ut, repellat ea fugiat assumenda
      eos porro culpa molestias architecto tempore nam autem saepe excepturi
      incidunt deleniti, magni quidem voluptatem sit vitae. Necessitatibus cum
      deserunt facere distinctio magni iste tenetur, unde illo, totam, ab
      possimus itaque ipsam tempora aliquam repellendus rem veniam perspiciatis
      nemo laboriosam optio dolore et! Quia rem eius mollitia? Ex possimus
      deleniti iste soluta reprehenderit? Nesciunt neque modi labore, deserunt
      ipsum veniam delectus facilis quam odio sit aliquam odit reiciendis
      cumque? Id, quidem inventore dolorum dolore excepturi natus corrupti,
      asperiores commodi incidunt suscipit dolor impedit unde aperiam maiores
      est mollitia expedita! Aliquam possimus incidunt aliquid error quia, id
      similique dolorum vitae, aut, pariatur commodi. Voluptatum enim architecto
      incidunt neque natus nostrum suscipit iste! Facilis cumque nobis harum
      laboriosam ut reiciendis aliquam non? Neque non consequatur officiis
      explicabo, quaerat quas ut modi sunt culpa, reprehenderit quia, tempore
      aliquid tenetur facilis deserunt adipisci quam. Labore impedit expedita
      eum, eaque error eius distinctio ipsa praesentium repellat minima dolores
      ea fugit id quae quos deserunt perferendis aperiam maxime aut molestiae
      ratione mollitia doloribus temporibus quidem. Cumque corrupti sequi
      excepturi quam facilis eaque nemo eum nihil vero animi soluta quod,
      adipisci ad officiis quos, rerum mollitia ea nisi accusamus optio. Aliquid
      voluptate repellat earum voluptatem molestiae facilis unde, harum officia
      sed quibusdam modi labore tenetur, perferendis ratione, aspernatur
      sapiente illum totam nihil illo ex. Unde repudiandae doloremque, natus
      iusto ipsa eos libero ratione nihil ullam. Fugit quaerat natus quod saepe
      asperiores odio, harum laudantium, quos debitis quasi, quae quidem aperiam
      est expedita quia. Dolorem similique tempore, ratione beatae quam unde
      asperiores fugiat porro deserunt labore impedit eos cum suscipit adipisci
      illo ipsa molestiae neque delectus corporis accusantium dolore? Laudantium
      totam ab beatae impedit minima! Earum corrupti illum veritatis debitis,
      consequatur expedita sint delectus numquam unde modi cumque fugiat dolore
      voluptate, quod alias eaque. Rem nemo, voluptate a tenetur, provident
      temporibus ipsam quam necessitatibus enim dolorum odit eius culpa, itaque
      nulla corrupti ad officiis. Laborum quibusdam maxime nulla, ab nostrum
      repudiandae doloribus nobis magni vero natus similique perferendis dolores
      numquam ullam cumque sed, aliquid incidunt magnam. Recusandae alias iste
      minus. Dolorum excepturi eveniet nemo, vitae quam reiciendis aut
      dignissimos ab non nesciunt atque ullam voluptate? Modi at ab explicabo
      error illo, aspernatur totam fugit libero ullam! Adipisci tempora, quae
      laudantium fugiat repudiandae pariatur delectus, nulla voluptate odio
      doloribus consectetur aliquid beatae blanditiis aut at magni, ipsam quia
      voluptates. Voluptatum quo cupiditate harum aspernatur quam nemo error
      commodi nam ullam. Quaerat quibusdam voluptatibus possimus dolor ab
      architecto, ea facere nulla similique molestias odit, magnam aut vel eos
      sequi inventore placeat accusamus ipsum quia in. Nisi dolorem maiores
      rerum dolor eligendi fugiat aspernatur sed qui aperiam hic voluptate
      dolorum possimus sequi, iusto illum quia eius blanditiis? Ut sint aliquam
      non, doloremque expedita inventore quis unde eveniet reprehenderit? Vel
      tenetur ipsa dolores explicabo culpa neque ab rem? Voluptate quam nihil
      atque, laboriosam harum labore officia praesentium veritatis voluptatem
      odit molestias culpa pariatur mollitia. Ex cum sequi atque distinctio odio
      reiciendis voluptate, illum sunt non ducimus aspernatur neque officiis
      numquam quibusdam nesciunt, suscipit voluptatum? Deserunt doloribus earum
      quos itaque ratione! Saepe doloribus assumenda expedita odio sequi et
      voluptatibus praesentium est? Incidunt obcaecati quos provident quae
      cupiditate ut dolorum iusto optio esse qui consectetur itaque soluta, enim
      quisquam eum consequatur non, laboriosam harum ex repellendus
      reprehenderit. Fugit quasi quae, nisi enim nihil ad architecto dignissimos
      aliquam sed pariatur natus autem explicabo mollitia maxime cum impedit
      praesentium maiores amet est aspernatur! Nulla quisquam sequi voluptatem
      enim aliquam adipisci modi explicabo eos ratione veritatis minus qui,
      omnis deserunt cumque, tempora quaerat aspernatur cupiditate iste quam.
      Molestias dicta inventore minima dolorum natus maiores delectus odit enim
      sapiente iure perferendis est culpa officiis praesentium facere
      consequatur nulla, labore fugit libero non quasi, quo error ad.
      Reprehenderit repellat repellendus voluptates. Alias quos id consequuntur
      modi odio facilis debitis ratione provident. Veniam deserunt ea
      praesentium, maxime dolorem temporibus atque earum porro sapiente aut
      necessitatibus commodi distinctio maiores? Reiciendis dolorum saepe sed
      magni, unde voluptatibus eaque recusandae similique laudantium veritatis
      commodi omnis vitae dolorem hic nemo, obcaecati sequi incidunt ipsa
      voluptate voluptas. Amet laboriosam rerum delectus natus sed ut aliquam
      ipsum minus dignissimos autem veniam aperiam quasi, consectetur architecto
      eaque eos eveniet provident? Voluptates omnis dolores beatae porro
      repudiandae veritatis quas in reiciendis fugit eaque consequuntur
      consectetur aspernatur dolore nostrum voluptatibus, quaerat iste dicta
      aliquam? Omnis, animi consequuntur eveniet repellendus ipsum enim ratione
      dolorem sequi rerum incidunt nisi quia dolor reiciendis nemo modi.
      Quibusdam recusandae odio unde ullam minus doloribus dolorum molestiae,
      aliquid sunt sapiente illo, sit ea libero nihil? Esse aut neque sed nisi
      illo dolorem sequi officia doloremque beatae, quidem quo saepe blanditiis
      similique maxime facilis repellat labore quam nostrum cum. Quidem
      dignissimos numquam, beatae distinctio qui iste repellat, velit veritatis
      omnis provident illo eligendi ea quos. Aspernatur perferendis consequuntur
      optio, minima nam molestias harum aperiam, quaerat eaque debitis non
      asperiores nesciunt assumenda. Deleniti culpa et cupiditate. Culpa
      voluptate quia veritatis asperiores fugit autem, accusamus hic cumque
      iusto itaque aspernatur. Blanditiis quas explicabo sed natus temporibus
      voluptas molestiae. Deleniti ad delectus sint ipsam quam harum, quae,
      magnam optio vitae eum fugit odit numquam exercitationem necessitatibus
      molestiae sit quisquam rerum obcaecati recusandae maxime aperiam a,
      deserunt debitis iste! Assumenda natus provident accusantium consectetur
      excepturi. Tempora commodi excepturi at. Dolorum culpa sunt expedita,
      repellat ipsam at molestias nihil odio quis unde totam iure, eius suscipit
      dicta harum esse consequuntur omnis accusamus asperiores quae. Voluptas
      enim sint corporis maiores illo reprehenderit corrupti quas numquam!
      Cumque quisquam totam commodi ipsam similique tenetur aspernatur hic iste
      praesentium aliquam! Illum saepe eveniet, veniam aperiam sint natus,
      asperiores, excepturi aliquam perferendis non nobis quae? Quisquam sequi
      explicabo quasi consequatur mollitia doloribus, itaque cumque dignissimos,
      illo nesciunt accusantium eveniet natus.
    </p>
  </body>
</html>

<style is:global>
  html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg-color-body);
    color: var(--text-color);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  ol,
  ul {
    list-style: none;
  }

  span,
  a {
    display: block;
  }

  button {
    background-color: transparent;
    color: var(--text-color);
  }

  /* END RESET STYLES*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-weight: 500;
  }
</style>

<style>
  body {
    font-family: Arial, sans-serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
  }
</style>
