/********** Template CSS **********/
:root {
    --primary: #1363C6;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.ingencial-top{
    padding-top: 3rem !important;
}



/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 11px 0 !important;
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


.custom-img-width {
    max-width: 300px; /* Ajusta el ancho máximo del logo según sea necesario */
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Ajusta el espaciado interior de los enlaces del menú */
}

@media (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end; /* Alinea los elementos del menú a la derecha en pantallas grandes */
    }
}


    /*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}

.pagination {
    display: inline-block;
}
  
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}
  
.pagination a:hover:not(.active) {background-color: var(--bs-primary)}

/*** Fruits End ***/


.volunteer {
    background: white;
      border-radius: 10px; /* Ajusta el valor según el radio de borde que desees */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.volunteer .volunteer-img {
    position: relative;
    overflow: hidden;
}

.volunteer .volunteer-img .volunteer-title {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    transition: 0.5s;
}

.volunteer .volunteer-img:hover .volunteer-title {
    background: rgba(0, 0, 0, .5);
}

.volunteer .volunteer-img img {
    transition: 0.5s;
}

.volunteer .volunteer-img:hover img {
    transform: scale(1.2);
}
/*** Volunteer End ***/



/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    background: url(../img/nosotros.jpg) center center no-repeat;
    height: 1200px;
    background-size: cover;
}


.hero-header2 {
    margin-top: -75px;
    background: url(../img/nosotros.jpg) center center no-repeat;
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}

.about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg-about-img.png) top left no-repeat;
    background-size: contain;
}



/*** Tienda***/
.home__listProducts {
  display: grid;
  gap: 20px;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.productCard {

  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.175);
}


.productCard__header {
  padding: 20px 10px 10px 10px;
  height: 150px;
  overflow: hidden;
}

.productCard__header:hover .productCard__img img:last-of-type {
  opacity: 1;
}

.productCard__header:hover .productCard__img img:first-of-type {
  opacity: 0;
}

.productCard__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.productCard__img img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  transition: opacity 400ms ease;
}

.productCard__img img:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.productCard__info {
padding: 0px 10px 20px 10px;
  position: relative;
}

.productCard__brand,
.productCard__priceTitle {
  color: var(--dark-gray);
}

.productCard__brand {
  font-size: 15px;
}

.productCard__title
 {

  word-wrap: break-word;
  color:#212529;
 
}
.productCard__des
 {
  margin-left: 15px;
  margin-top: 3px;
  word-wrap: break-word;
  color: #000;
  font-size: 18px;
}


.productCard__price {
  margin-left: 15px;
  margin-top: 3px;
  word-wrap: break-word;
  color: black;
  font-size: 15px;
}


.productCard__priceTitle {
  margin-top: 20px;
  font-weight: normal;
  font-size: 15px;
}

.productCard__btn {
  position: absolute;
  top: 90px;
  right: 25px;
  color: #fc4a0c;
  background-color: var(--primary);
  padding: 1px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}

.pagination {
  width: 100%;
  text-align: center;
}


/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;
    background: #d8b100;
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-icon {
    background: #FFFFFF;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: white;
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: var(--light);
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}


/*** Feature ***/
.feature {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}


/*** Newsletter ***/
.newsletter {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .newsletter .container {
        max-width: 100% !important;
    }

    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Case Study ***/
.case-item img {
    transition: .5s;
}
  
.case-item:hover img {
    transform: scale(1.2);
}
  
.case-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(20, 24, 62, 0), var(--dark));
    z-index: 1;
}

.case-overlay small {
    display: inline-block;
    padding: 3px 15px;
    color: #FFFFFF;
    background: rgba(20, 24, 62, .7);
    border-radius: 25px;
    margin-bottom: 15px;
}

.case-overlay span.btn:hover {
    color: var(--primary);
    background: #FFFFFF;
    border-color: #FFFFFF;
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
 
    border: 1px solid #d8b100;

    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Testimonial ***/
.testimonial-carousel {
    position: relative;
}


.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: -30px;
   right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 40px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}



.bt_bb_separator.bt_bb_border_style_solid:not(.btWithText).bt_bb_border_color_accent {
    border-bottom: 1px solid #d8b100;
}
.bt_bb_separator.bt_bb_border_style_solid:not(.btWithText).bt_bb_border_color_accent {
    border-bottom: 1px solid #fcf113;
}
.bt_bb_separator.bt_bb_top_spacing_normal {
    margin-top: 2em;
}
.bt_bb_separator.bt_bb_bottom_spacing_normal {
    margin-bottom: 2em;
}
.bt_bb_separator.bt_bb_top_spacing_normal {
    margin-top: 2em;
}
.bt_bb_separator.bt_bb_bottom_spacing_normal {
    margin-bottom: 2em;
}
.bt_bb_separator.bt_bb_border_style_solid {
    border-bottom: 1px solid #ccc;
}
.bt_bb_separator {
    line-height: 0;
    display: block;
    clear: both;
}


.rounded-corners {
    border-radius: 15px; /* Ajusta el radio de las esquinas según tu preferencia */
    overflow: hidden; /* Asegura que el contenido dentro del borde redondeado se recorte */
}

/*** Team ***/
.team-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
    
}

.nota-item {
  
    border: 1px solid transparent;
 
    
}

.team-item:hover {

    border-color: #d8b100;
}

.ser-item {
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.ser-item:hover img {
    transform: scale(1.2);
}
.ser-item img {
    transition: 0.5s;
}

/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}