<header class="containerHeader">
  <a href="/" class="wrapLogo">
    <img class="logo" src="/logo_cap1.png" />
  </a>
  <input id="checkDropdown" type="checkbox" class="checkboxDropdown" />

  <label for="checkDropdown" class="iconBar">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </label>

  <label for="checkDropdown" class="iconClose">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"></path>
    </svg>
  </label>
  <ul class="dropdownContainer">
    <input id="checkSubMenuOne" class="checkSubMenuOne" type="checkbox" />
    <li class="li">
      <label for="checkSubMenuOne" class="label">
        Nosotros <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-md"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </label>
    </li>
    <ul class="subMenu subMenuOne">
      <a href="/" class="li">Visión y misión</a>
      <a href="/" class="li">Organigrama</a>
      <a href="/" class="li">Consejo Directivo</a>
      <a href="/" class="li">Asambleas</a>
      <a href="/" class="li">Comites Regionales</a>
      <a href="/" class="li">Past Decanos</a>
      <a href="/" class="li">Reseña Historica</a>
      <a href="/" class="li">Plan de trabajo</a>
    </ul>
    <input id="checkSubMenuTwo" class="checkSubMenuTwo" type="checkbox" />
    <li class="li">
      <label for="checkSubMenuTwo" class="label">
        Tramites y servicios <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-md"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </label>
    </li>
    <ul class="subMenu subMenuTwo">
      <a href="/" class="li">Colegiatura</a>
      <a href="/" class="li">Ver habilidad</a>
      <a href="/" class="li">Certificado de habilidad</a>
      <a href="/" class="li">Delegados CAP</a>
      <a href="/" class="li">Inspectores municipales</a>
      <a href="/" class="li">Peritos judiciales</a>
      <a href="/" class="li">Centro de conciliación</a>
      <a href="/" class="li">Especialistas y oficios</a>
      <a href="/" class="li">Servicios de asesoria</a>
      <a href="/" class="li">Alguileres</a>
      <a href="/" class="li">Repositorio</a>
    </ul>
    <li class="li"><a href="/">Comisiones</a></li>
    <li class="li"><a href="/">Beneficios</a></li>
    <li class="li"><a href="/">Productos</a></li>
    <li class="li"><a href="/">Normatividad</a></li>
    <li class="li"><a href="/">Contacto</a></li>
  </ul>
  <ul class="links">
    <li class="link">
      <input
        id="checkSubMenuDesktopOne"
        class="checkSubMenuDesktopOne"
        type="checkbox"
      />
      <label for="checkSubMenuDesktopOne" class="label">
        Nosotros <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-md"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </label>
      <ul class="subMenuDesktop subMenuDesktopOne">
        <a href="/" class="li">Visión y misión</a>
        <a href="/" class="li">Organigrama</a>
        <a href="/" class="li">Consejo Directivo</a>
        <a href="/" class="li">Asambleas</a>
        <a href="/" class="li">Comites Regionales</a>
        <a href="/" class="li">Past Decanos</a>
        <a href="/" class="li">Reseña Historica</a>
        <a href="/" class="li">Plan de trabajo</a>
      </ul>
    </li>
    <li class="link"><a href="/">Comisiones</a></li>
    <li class="link">
      <input
        id="checkSubMenuDesktopTwo"
        class="checkSubMenuDesktopTwo"
        type="checkbox"
      />
      <label for="checkSubMenuDesktopTwo" class="label">
        Tramites y servicios <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-md"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </label>
      <ul class="subMenuDesktop subMenuDesktopTwo">
        <a href="/" class="li">Colegiatura</a>
        <a href="/" class="li">Ver habilidad</a>
        <a href="/" class="li">Certificado de habilidad</a>
        <a href="/" class="li">Delegados CAP</a>
        <a href="/" class="li">Inspectores municipales</a>
        <a href="/" class="li">Peritos judiciales</a>
        <a href="/" class="li">Centro de conciliación</a>
        <a href="/" class="li">Especialistas y oficios</a>
        <a href="/" class="li">Servicios de asesoria</a>
        <a href="/" class="li">Alguileres</a>
        <a href="/" class="li">Repositorio</a>
      </ul>
    </li>
    <li class="link"><a href="/">Beneficios</a></li>
    <li class="link"><a href="/">Productos</a></li>
    <li class="link"><a href="/">Normatividad</a></li>
    <li class="link"><a href="/">Contactanos</a></li>
  </ul>
</header>

<style>
  .containerHeader {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .containerHeader .wrapLogo {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .containerHeader .iconBar,
  .containerHeader .iconClose {
    display: flex;
    align-items: center;
  }

  .containerHeader input {
    display: none;
  }

  .containerHeader .logo {
    height: 60px;
  }

  .containerHeader .icon-md {
    width: 20px;
    height: 20px;
  }

  .containerHeader .icon {
    width: 30px;
    height: 30px;
  }
  .containerHeader .dropdownContainer {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #fff;
  }

  .containerHeader .li {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  .containerHeader .label {
    display: flex;
    gap: 0.25rem;
  }

  .containerHeader .dropdownContainer > * {
    width: 100%;
  }

  .containerHeader .checkboxDropdown:checked ~ .dropdownContainer {
    display: block;
  }

  .containerHeader .iconClose {
    display: none;
  }

  .containerHeader .checkboxDropdown:checked ~ .iconBar {
    display: none;
  }

  .containerHeader .checkboxDropdown:checked ~ .iconClose {
    display: flex;
  }

  .containerHeader .subMenu {
    padding-left: 1rem;
  }

  .containerHeader .subMenuOne,
  .containerHeader .subMenuTwo {
    display: none;
  }

  .containerHeader .li:hover {
    background-color: #e9ecef;
  }
  .containerHeader .checkSubMenuOne:checked ~ .subMenuOne,
  .containerHeader .checkSubMenuTwo:checked ~ .subMenuTwo {
    display: block;
  }

  .containerHeader .links {
    display: none;
  }

  @media (min-width: 1280px) {
    .containerHeader {
      padding: 0 4rem;
    }
    .containerHeader .iconBar,
    .containerHeader .iconClose {
      display: none;
    }

    .containerHeader .links {
      display: flex;
      gap: 2rem;
    }

    .containerHeader .link {
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;
    }

    .containerHeader .subMenuDesktop {
      width: 220px;
      position: absolute;
      top: 80px;
      left: -20px;
      padding: 0.5rem 0;
      border-radius: 0.5rem;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .containerHeader .subMenuDesktopOne,
    .containerHeader .subMenuDesktopTwo {
      display: none;
    }

    .containerHeader .checkSubMenuDesktopOne:checked ~ .subMenuDesktopOne,
    .containerHeader .checkSubMenuDesktopTwo:checked ~ .subMenuDesktopTwo {
      display: block;
    }

    .containerHeader .li {
      padding: 0.5rem 1rem;
      border-radius: unset;
    }
  }

  @media (min-width: 1536px) {
    .containerHeader {
      padding-inline: 8rem;
      font-size: large;
    }
  }
</style>
